# environment
.idea/
.vscode/
# target
/target/
# cargo
Cargo.lock

*~
*.o
*.so
*.exe
*.pyc
*.plist
*.rpm
*#
.#*
build
debug/           # Debug directories
*/debug/         # Debug subdirectories  
*.debug          # .debug files
debug.log        # Debug log files
debug.txt        # Debug text files
*_debug          # Files ending with _debug
*-debug          # Files ending with -debug
debug_*          # Files starting with debug_
*release*
*Release*
.coverage
.pytest_cache/
pytest.xml
dist
tmp
*.bin
*.rlib
*.csv

# Ignore too_big test datasets in this repo layout
/crates/**/tests/**/data/too_big/
